colorama==0.4.4
gTTS==2.2.3
numpy==1.22.0
Pillow==9.0.1
PyYAML==6.0
pyfiglet==0.8.post1
pysqlite3==0.4.6
datetime==4.3
pynacl==1.4.0
yt-dlp==2021.12.27
faker==11.3.0
lyricsgenius==3.0.1
colour==0.1.5
git+https://github.com/Pycord-Development/pycord
